input::-moz-focus-inner, * {
	outline: 0 !important;
}
body {
	background-color: transparent;
	text-align: left;
}

body > div.container, header > div.container {
	padding: 0;
}
header {
	background-image: linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -moz-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: webkit-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -o-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -ms-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
}
header.map {
	background-color: rgba(255, 255, 255, 0.9);
	background-image: none !important;
	position: relative;
	z-index: 2;
}
header, footer {
	background: #fff;
}
#nav {
    margin: 0;
    padding: 0;
    top: 80px;
	display: table;
}
#nav.map {
    top: 45px;
}
#nav .fa {
	color: #666;
}
#nav li > a {
	font-size: 0.9em;
    padding: 5px 10px;
	color: #333;
}
#nav li > a:hover {
	color: #000;
}

#logo {
	padding-bottom: 10px;
}
#logo img, #logo object {
	border-right: 2px solid #E6E6E6;
	float: left;
	margin-top: 15px;
	padding-right: 15px;
}
#logo.map p {
	height: 65px;
}


#left_panel {
	position: fixed;
	top: 110px;
	left: -221px;
	width: 221px;
	height: 100%;
	background-color: transparent;
	background-image: linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -moz-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: webkit-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -o-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -ms-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	z-index: 3;
	border-radius: 0px;
}
#left_panel.map {
	top: 75px;
}
#left_panel.visible {
	left: 0;
}
#left_panel > div.panel-body:first-child {
	padding: 5px 0;
	margin: 7px 15px;
	border-bottom: #eee 1px solid;
}
#left_panel > div.panel-body:first-child a {
	color: #aaa;
}
#left_panel > div.panel-body:first-child a:hover, #left_panel > div.panel-body:first-child a:focus, #left_panel > div.panel-body:first-child a:active {
	text-decoration: none;
}

#pgrdg_map {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
#selected_zone {
	color: rgba(255, 255, 255, 0.8);
	font-family: "HelveticaNeueW01-45Ligh";
	font-size: 3.5em;
	bottom: 5px;
	left: 50%;
	margin-left: -40%;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 6px rgba(100, 100, 100, 0.8);
	width: 80%;
	z-index: 2;
}
.olForeignContainer {
	background-color: #000 !important;
}
#map_toolbox {
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 76px;
	right: -50px;
	bottom: 0px;
	width: 50px;
	z-index: 100;
}
#map_toolbox > ul, #map_sub_toolbox > ul {
	margin: 5px;
}
#map_toolbox > ul li, #map_sub_toolbox > ul li {
	text-align: center;
	display: block;
}
#map_toolbox > ul li.divider {
	background-color: #2d2d2d;
	height: 1px;
}
#map_toolbox a, #map_sub_toolbox a {
	color: #ccc;
}
#map_toolbox a:hover, #map_sub_toolbox a:hover {
	color: #fff;
}
#map_sub_toolbox {
}
#map_sub_toolbox > div {
	position: fixed;
	right: 50px;
	bottom: auto;
	min-width: 50px;
	width: auto;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 7px;
	display: none;
}
#map_sub_toolbox > div.level0 {
	margin-top: 0px;
}
#map_sub_toolbox > div.level1 {
	margin-top: 40px;
}
#map_sub_toolbox > div.level2 {
	margin-top: 80px;
}
#map_sub_toolbox > div.level3 {
	margin-top: 120px;
}
#map_sub_toolbox div > ul {
	margin: 0 0 0 20px;
	padding: 0 10px;
}
#map_sub_toolbox div > ul.list-unstyled {
	margin: 0;
}
#map_sub_toolbox span.fa {
	color: #dedede;
}
#map_sub_toolbox span.fa-circle-o {
	color: #666;
}
#map_sub_toolbox a.btn {
	padding: 0;
}
#map_sub_toolbox li {
    margin: -2px -12px;
    padding: 2px 10px;
}
#map_sub_toolbox li.selected {
	background-color: #333;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0;
    color: #fff;
}
#map_sub_toolbox li.selected a {
	margin-left: -1px;
	margin-right: -1px;
}










/* Adjustements */
.navbar .divider-vertical {
	height: 29px;
	border-left: 1px solid #eee;
	border-right: 1px solid #ffffff;
}
.olControlPanZoomBar, .olControlZoom {
	top: 90px !important;
	left: 10px;
}
.olControlMousePosition {
	top: 10px;
	right: 10px !important;
}
.olControlNavToolbar div {
	display: block;
	width: 28px;
	height: 28px;
	top: 300px;
	left: 6px;
	position: relative;
}
.olControlNavToolbar .olControlNavigationItemActive {
	background-image: url("img/panning-hand-on.png");
	background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive {
	background-image: url("img/panning-hand-off.png");
	background-repeat: no-repeat;
}