input::-moz-focus-inner, * {
	outline: 0 !important;
}
input[type=number] {
	text-align: right;
}
body {
	background-color: transparent;
	text-align: left;
}
hr {
	margin-top: 0;
	margin-bottom: 15px;
}

body > div.container {
	padding: 0;
}
header > div.container {
	padding: 0 5px;
}
header {
	position: fixed;
	width: 100%;
	z-index: 3;
	background-image: linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -moz-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: webkit-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -o-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -ms-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	overflow: visible !important;
}
header.main {
	height: 111px;
}
header.map {
	background-color: rgba(255, 255, 255, 0.9);
	background-image: none !important;
	height: 76px;
}
header, footer {
	background: #fff;
}
header .container {
	display: inline-block;
	padding-left: 375px !important;
	padding-right: 0;
}
header.map .container {
	padding-left: 5px !important;
}
header.map #logo, #logo.map {
	padding-left: 10px;
}
/*
footer {
	display: none;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 5px 10px 5px;
	font-size: 11px;
	text-align: center;
}
*/
footer {
	bottom: 0;
	font-size: 13px;
	margin: 100px auto 0 auto;
	max-width: 900px;
	padding: 0;
	position: static;
	text-align: center;
	width: 100%;
}
footer ul {
	margin: 0;
	padding: 0;
}
footer ul li {
	display: block;
	margin: 0 5px;
}
/*
footer ul li + li:before {
	content: "-";
	margin-right: 15px;
}
*/

#nav {
    margin: 0;
    padding: 0;
    top: 80px;
	display: table;
}
#nav.map, header.map #nav {
    top: 45px;
}
#nav .fa, #nav .ionicons {
	color: #666;
}
#nav li > a {
	font-size: 0.9em;
    padding: 5px 10px;
	color: #333;
}
#nav li > a:hover {
	color: #000;
}

#logo {
	padding-bottom: 10px;
}
#logo img, #logo object {
	border-right: 2px solid #E6E6E6;
	float: left;
	margin-top: 15px;
	padding-right: 15px;
}
header.map #logo p, #logo.map p {
	height: 65px;
}

section.container {
	max-width: 100%;
    width: 100%;
	padding: 39px 0 0 0;
}

#breadcrumb {
	display: none;
	background-color: transparent;
	padding-left: 0;
	position: fixed;
	top: 111px;
	width: 100%;
	z-index: 2;
}

#breadcrumb .breadcrumb {
	background-color: rgba(255, 255, 255, 0.85);
	background-image: linear-gradient(to top, #e0e0e0, rgba(255, 255, 255, 0) 10px, #e0e0e0);
	background-image: -moz-linear-gradient(to top, #e0e0e0, rgba(255, 255, 255, 0) 10px, #e0e0e0);
	background-image: webkit-linear-gradient(to top, #e0e0e0, rgba(255, 255, 255, 0) 10px, #e0e0e0);
	background-image: -o-linear-gradient(to top, #e0e0e0, rgba(255, 255, 255, 0) 10px, #e0e0e0);
	background-image: -ms-linear-gradient(to top, #e0e0e0, rgba(255, 255, 255, 0) 10px, #e0e0e0);
	border-radius: 0;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.panel_content {
    display: none;
	width: 100%;
}
#forms-head h1,
#forms-head h2,
#forms-head h3,
#forms-head h4,
#forms-head h5,
#forms-head h6 {
	margin: 15px 0;
}
.panel_content-head {
	background-color: #fff;
	box-shadow: 6px 0 6px #d0d0d0;
}
.panel_content-head .btn-group {
	margin-top: 20px;
}
.panel_content-body {
	margin-top: 20px;
	z-index: 0;
}
#forms-body .row .panel .chosen-container {
	display: block;
	width: auto !important;
	position: relative;
}
#forms-body .row .panel.disabled {
	border-color: #ddd;
	cursor: not-allowed;
}
#forms-body .row .panel.disabled > .panel-heading {
	background-color: #eee;
	border-color: #ddd;
	color: #999;
}
#forms-body .panel-mask.unselectable {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 12px rgba(255, 255, 255, 0.5);
}
#forms-body .panel-mask {
	background-color: rgba(230, 255, 230, 0.5);
	box-shadow: 0 0 12px rgba(100, 255, 100, 0.5);
	position: absolute;
	height: 99%;
	margin-top: 1px;
	margin-left: 1px;
	border-radius: 4px;
	color: transparent;
	text-align: center;
	z-index: 1;
}
#forms-body .panel-mask:not(.unselectable):hover {
	background-color: rgba(0, 0, 0, 0.55);
	box-shadow: 0 0 10px rgba(50, 50, 50, 0.5);
	cursor: pointer;
	color: rgba(255, 255, 255, 0.25);
	text-shadow: 0 0 2em rgba(255, 255, 255, 0.25);
}
#forms-body .panel-mask.unselectable:hover {
	cursor: not-allowed;
}
#forms-body .panel-mask span {
	font-size: 128px;
	margin-top: -64px;
	position: relative;
	top: 35%;
	display: block;
}
.panel-mask small:before {
	content: "";
	display: block;
	margin-top: 15%;
	padding-bottom: 0;
}
.panel-mask small {
	display: block;
	font-size: 2em;
	font-variant: small-caps;
	font-weight: bold;
}
#forms-body .panel-body > p {
	word-wrap: break-word;
	overflow-x: auto;
}

#forms .row .panel.disabled > .panel-body {
	color: #999;
}
#forms-body .panel-group .panel {
	overflow: visible;
}
.btn.treeselect {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
.btn.treeselect .caret {
  margin-top: 0.6em;
  position: absolute;
  right: 40px;
}
span.info {
	color: #829ea5;
	text-decoration: underline;
}
span.info:hover {
	text-decoration: none;
}
a.text-info, span.text-info, span.info {
	cursor: help;
}

#forms-body .row .panel-heading a {
	/*background-color: #fff;*/
	box-shadow: 0 0 19px #fff inset;
	border-radius: 9px;
	cursor: pointer !important;
	font-size: 1.5em;
	width: 19px;
	height: 19px;
	line-height: 22px;
}
#forms-body .row .panel-heading a.pull-right {
	margin-bottom: 10px;
	margin-left: 10px;
}
#forms-body .row .panel-heading a.pull-left {
	margin-bottom: 10px;
	margin-right: 10px;
}
#forms-body .row .panel-heading a:first-child {
	color: #333 !important;
}
#forms-body .row .panel.disabled > .panel-heading a:hover {
	color: #666 !important;
}
#forms-body .row .panel-heading a > span {
	height: 0;
    padding: 0;
	line-height: 0;
	margin-top: 10px;
}

#start {
	display: block;
	padding-left: 35px;
}
#start h1 {
	color: #d0d0d0;
	font-family: "HelveticaNeueW01-45Ligh";
	font-size: 35px;
	margin-top: 80px;
	margin-left: -35px;
	padding-left: 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	cursor: default;
}
#start h1:hover > span {
	animation: blinker 0.7s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
	from {
		margin-left: 2.5px;
		margin-right: -2.5px;
		color: #d0d0d0;
	}
	to {
		margin-left: -5px;
		margin-right: 5px;
		color: #da680b;
	}
}
section.container > #contents #content {
	padding-top: 71px;
	margin: auto;
	width: 100%;
	max-width: 925px;
}
section.container > #contents .carousel-indicators {
	margin: 0 20px;
	right: 0;
	left: none;
	text-align: right;
	bottom: 10px;
	width: auto;
}
section.container > #contents .carousel-indicators li {
	box-shadow; 0 0 3px #000;
	border-color: rgba(255, 255, 255, 0.5);
}
section.container > #contents .carousel-indicators li.active {
	background-color: rgba(255, 255, 255, 0.5);
}
section.container > #contents .carousel-inner {
	max-height: 500px;
    overflow: hidden;
}

#left_panel {
	position: fixed;
	top: 110px;
	left: -1000px;
	height: 100%;
	background-color: transparent;
	background-image: linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -moz-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: webkit-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -o-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	background-image: -ms-linear-gradient(to left, #ddd, rgba(255, 255, 255, 0.9) 6%, rgba(255, 255, 255, 0.9)) !important;
	z-index: 4;
	border-radius: 0px;
}
#left_panel.map {
	top: 75px;
}
#left_panel.visible {
	left: 0;
}
#left_panel div.panel-header {
	padding: 0 20px 0 15px;
}
#left_panel div.panel-header h1 {
	font-family: HelveticaNeueW01-45Ligh;
	font-size: 1.6em;
	margin: 0;
	color: #666;
}
#left_panel div.panel-body {
	padding: 5px 20px 5px 15px;
}
#left_panel > div.panel-body:first-child {
	padding: 5px 0;
	margin: 7px 15px;
	border-bottom: #eee 1px solid;
}
#left_panel > div.panel-body:first-child a {
	color: #aaa;
}
#left_panel > div.panel-body:first-child a:hover, #left_panel > div.panel-body:first-child a:focus, #left_panel > div.panel-body:first-child a:active {
	text-decoration: none;
}
/*
.folder_menu {
	display: block;
	height: 30px;
	line-height: 25px;
	padding: 0;
	position: relative;
	right: -259px;
	top: 227px;
	transform: rotate(90deg);
	width: 100%;
}
.folder_menu > ul {
	height: 30px;
	line-height: 30px;
	margin: 0;
	padding: 0;
	width: 100%;
}
.folder_menu > ul li {
	background-color: #fff;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top-left-radius: 18px 25px;
	border-top-right-radius: 18px 25px;
	box-shadow: 0 -4px 8px #ccc;
	display: inline-block;
	line-height: 30px;
	white-space: nowrap;
	position: relative;
}
.folder_menu li + li {
	margin-left: -15px;
	z-index: -1;
}
.folder_menu li:first-child {
	border-top-left-radius: 3px;
}
.folder_menu li:first-child a {
	margin-left: 5px;
}
*/
.folder_menu {
	position: relative;
	right: 258px;
	text-indent: 0;
	top: 259px;
	margin-top: -30px;
	transform: rotate(90deg);
}
.folder_menu > ul {
	margin-left: 9px;
}
.folder_menu li:before {
	background-color: #f0f0f0;
	border-left: 1px solid #ccc;
	border-top-left-radius: 18px 25px;
	box-shadow: -4px 0 4px #dedede;
	content: "";
	height: 100%;
	margin-left: -10px;
	position: absolute;
	width: 10px;
	z-index: -1;
}
.folder_menu li:first-child:before {
  background: linear-gradient(to right, #f0f0f0, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-left: 0 none;
  border-top-left-radius: 0;
  box-shadow: none;
}
.folder_menu li:after {
	background-color: #f0f0f0;
	border-right: 1px solid #ccc;
	border-top-right-radius: 18px 25px;
	box-shadow: 4px 0 4px #dedede;
	content: "";
	height: 100%;
	position: absolute;
	right: -10px;
	top: 0;
	width: 10px;
	z-index: 1;
}
.folder_menu li + li:before {
	box-shadow: -4px 0 4px #dedede;
}
.folder_menu li + li:after {
	box-shadow: 4px 0 4px #ccc;
}
.folder_menu li:first-child:after {
	background-color: #fff;
}
.folder_menu ul li {
	background-color: #f0f0f0;
	border-top: #eee 1px solid;
	margin: 0;
	padding: 0;
}
.folder_menu li:first-child {
	background-color: #fff;
}
.folder_menu li:first-child + li {
	background-color: #f0f0f0;
}
.folder_menu li:first-child + li:before, .folder_menu li:first-child + li:after {
	background-color: #f0f0f0;
}
.folder_menu ul li + li {
	background-color: #ddd;
	margin-left: 10px;
}
.folder_menu li + li:before, .folder_menu li + li:after {
	background-color: #ddd;
}
.folder_menu li:hover, .folder_menu li:hover:not(:first-child):before, .folder_menu li:hover:after {
	background-color: #fff !important;
	z-index: 1;
}

.folder_menu ul li a {
	margin: -1px 5px 0;
	padding: 5px 0 2px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.folder_menu ul li a:hover {
	background-color: #fff;
	border-color: rgba(0, 0, 0, 0);
}
.folder_menu > ul li.active a {
	margin-top: -1px;
}
.folder_menu > ul li.active:first-child > a {
	border-left: 0 none;
	border-top-left-radius: 0
}

/* RESULTS */
tr.expandable:hover {
	border: #c1d82f 1px solid;
	cursor: pointer;
}
tr.detail {
	display: none;
	box-shadow: 0 0 23px #ccc inset;
}
tr.detail td {
  	padding: 4px !important;
}
tr.detail td > div {
	padding: 4px;
	max-height: 45em;
	overflow-y: auto;
}
div.detail {
	margin: 5px 0 5px 25px;
}
ul.list-group.transparent li {
	background-color: transparent;
	border: 0px none;
	padding: 6px 0;
}
ul.list-group.transparent ul {
	margin-bottom: 0;
}
/* --- */

#pgrdg_map {
	display: none;
	background-color: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin-top: 75px;
	z-index: 1;
	cursor: hand;
	cursor: grab;
	cursor: -moz-grab;
	cursor: -webkit-grab;
}
#pgrdg_map.grabbing {
	cursor: grabbing !important;
	cursor: -moz-grabbing !important;
	cursor: -webkit-grabbing !important;
}
#pgrdg_map.locked:before {
	cursor: not-allowed;
	content: "";
	/*
	background-image:
		-webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 75%,
		transparent 75%, transparent);
	background-image:
		-moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 75%,
		transparent 75%, transparent);
	background-image:
		linear-gradient(135deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 75%,
		transparent 75%, transparent);
	-pie-background:
		linear-gradient(135deg, rgba(0, 0, 0, 0.5) 25%, transparent 25%,
		transparent 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 75%,
		transparent 75%, transparent) 0 0 / 50px 50px, #c16;
	background-size: 8px 8px;
	*/
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 2;
}
#selected_zone {
	color: rgba(255, 255, 255, 0.8);
	font-family: "HelveticaNeueW01-45Ligh";
	font-size: 3.5em;
	bottom: 5px;
	left: 50%;
	margin-left: -40%;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 6px rgba(100, 100, 100, 0.8);
	width: 80%;
	z-index: 2;
}
#information_zone {
	color: rgba(255, 255, 255, 0.8);
	font-family: "HelveticaNeueW01-45Ligh";
	text-shadow: 0 0 3px #333;
	font-size: 0.9em;
	bottom: 40px;
	/*left: 40px;*/
	left: 20px;
	position: absolute;
	text-align: left;
	text-shadow: 0 0 6px rgba(100, 100, 100, 0.8);
	width: 18%;
	z-index: 2;

}
#information_zone td {
	padding-left: 10px;
}
#information_zone p, #information_zone td, #information_zone th, #information_zone li {
	color: rgba(255, 255, 255, 0.8);
}
.olForeignContainer {
	background-color: #000 !important;
}
#contextMenu {
	position: absolute;
	display: none;
	z-index: 3;
}
#map_toolbox {
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 76px;
	right: -50px;
	bottom: 0px;
	width: 50px;
	z-index: 100;
}
#map_toolbox > ul {
	margin: 0;
}
#map_toolbox > ul li, #map_sub_toolbox > ul li {
	text-align: center;
	display: block;
	padding: 0;
}
#map_toolbox > ul li:first-child a {
	padding-top: 10px;
}
#map_toolbox > ul li:last-child a {
	padding-bottom: 10px;
}
#map_toolbox li.divider {
	background-color: #2d2d2d;
	height: 1px;
}
#map_toolbox a {
	text-align: center;
	border-radius: 0;
	border: 0px none;
	width: 100%;
	padding: 7.5px 10px;
}
#map_toolbox a, #map_sub_toolbox a {
	color: #ccc;
}
#map_toolbox a:hover, #map_sub_toolbox a:hover {
	color: #fff;
}
#map_sub_toolbox #tools a {
	padding: 3px 0;
}
#map_toolbox a.selected {
	background-color: #2a2a2a;
	box-shadow: 0 0 6px 6px #2a2a2a inset;
}
#map_toolbox a.selected span {
	text-shadow: 0 0 6px #fff;
}
#map_toolbox li.disabled, #map_toolbox a.disabled {
	cursor: not-allowed !important;
}
#lock_view_btn.pulse {
	-webkit-animation: pulse 2s infinite;
	-moz-animation: pulse 2s infinite;
	-o-animation: pulse 2s infinite;
	animation: pulse 2s infinite;
	color: #fff;
}
	@-webkit-keyframes pulse {
		0%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
		50% { background-color: #220000; box-shadow: 0 0 12px 3px #660000 inset; }
		100%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
	}
	@-moz-keyframes pulse {
		0%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
		50% { background-color: #220000; box-shadow: 0 0 12px 3px #660000 inset; }
		100%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
	}
	@-o-keyframes pulse {
		0%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
		50% { background-color: #220000; box-shadow: 0 0 12px 3px #660000 inset; }
		100%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
	}
	@keyframes pulse {
		0%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
		50% { background-color: #220000; box-shadow: 0 0 12px 3px #660000 inset; }
		100%   { background-color: #000; box-shadow: 0 0 6px 6px #330000 inset; }
	}
#map_sub_toolbox {
}
#map_sub_toolbox > div {
	position: fixed;
	right: 50px;
	top: 76px;
	min-width: 50px;
	width: auto;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 7px;
	display: none;
	border-radius: 6px 0 6px 6px;
	border-right: #333 1px dotted;
}
#map_sub_toolbox > div.level0 {
	/*margin-top: 76px;*/
}
#map_sub_toolbox > div.level1 {
	/*margin-top: 113px;*/
	margin-top: 37px;
}
#map_sub_toolbox > div.level2 {
	/*margin-top: 151px;*/
	margin-top: 72px;
}
#map_sub_toolbox > div.level3 {
	/*margin-top: 184px;*/
	margin-top: 108px;
}
#map_sub_toolbox div > ul {
	margin: 0 0 0 20px;
	padding: 0 10px;
}
#map_sub_toolbox div > ul.list-unstyled {
	margin: 0;
}
#map_sub_toolbox li.divider {
	background-color: #2d2d2d;
	height: 1px;
	padding: 0;
	margin: 7.5px 0;
}
#map_sub_toolbox span.fa, #map_sub_toolbox span.ionicons {
	color: #dedede;
}
#map_sub_toolbox span.fa-circle-o {
	color: #666;
}
#map_sub_toolbox a.btn {
	padding: 5px 10px !important;
}
#map_sub_toolbox a.selected {
	box-shadow: 0 0 6px 6px #2a2a2a inset;
}
#map_sub_toolbox a.selected span {
	text-shadow: 0 0 6px #fff;
}
#map_sub_toolbox li {
    margin: -2px -12px;
}
#map_toolbox li.selected,
#map_toolbox li:hover:not(.disabled),
#map_sub_toolbox li.selected,
#map_sub_toolbox li a.selected,
#map_sub_toolbox li:hover {
	background-color: #333;
	/*border-left: 1px solid #ccc;*/
    /*border-right: 1px solid #ccc;*/
    border-radius: 0;
    color: #fff;
}
#map_sub_toolbox li:first-child.selected,
#map_sub_toolbox li:first-child a.selected,
#map_sub_toolbox li:first-child:hover {
	border-radius: 3px 0 0 0;
}
#map_sub_toolbox li:last-child.selected,
#map_sub_toolbox li:last-child a.selected,
#map_sub_toolbox li:last-child:hover {
	border-radius: 0 0 3px 3px;
}
#map_toolbox li.selected {
	border: 0px none;
}
#map_sub_toolbox li.selected a, #map_toolbox li.selected a {
	margin-left: -1px;
	margin-right: -1px;
}

#guides div {
	position: fixed;
	background-color: rgba(255, 255, 255, 0.5);
	z-index: 2;
}
#guides #gx {
	width: 100%;
	height: 2px;
	top: 0;
	left: 0;
}
#guides #gxx {
	width: 100%;
	height: 2px;
	top: 0;
	right: 0;
}
#guides #gy {
	height: 100%;
	width: 2px;
	top: 0;
	left: 0;
}
#guides #gyy {
	height: 100%;
	width: 2px;
	bottom: 0;
	left: 0;
}









/* Adjustements */
.navbar .divider-vertical, .navbar .vertical-divider {
	height: 29px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #ffffff;
	margin: 0 5px !important;
}
/* OpenLayers 2 */
	.olControlPanZoomBar, .olControlZoom {
		top: 90px !important;
		left: 10px;
	}
	.olControlMousePosition {
		top: 10px;
		right: 10px !important;
	}
	.olControlNavToolbar div {
		display: block;
		width: 28px;
		height: 28px;
		top: 300px;
		left: 6px;
		position: relative;
	}
	.olControlNavToolbar .olControlNavigationItemActive {
		background-image: url("img/panning-hand-on.png");
		background-repeat: no-repeat;
	}
	.olControlNavToolbar .olControlNavigationItemInactive {
		background-image: url("img/panning-hand-off.png");
		background-repeat: no-repeat;
	}
	.gmnoprint.gm-style-cc {
		margin-right: 50px;
	}
	.olControlScaleLine {
		margin-bottom: 5px;
	}
	.olControlScaleLine div {
		border-color: #333;
		height: 15px;
		color: #000;
	}
	.olPopup img {
		max-width: auto;
	}

/* OpenLayers 3 */
.ol-zoom button, .ol-zoom-extent button, .ol-full-screen button {
	background-color: rgba(255, 255, 255, 0.75) !important;
	color: #333 !important;
}
.ol-zoom button:hover, .ol-zoom button:focus, .ol-zoom-extent button:hover, .ol-zoom-extent button:focus, .ol-full-screen button:hover, .ol-full-screen button:focus {
	background-color: rgba(255, 255, 255, 0.85) !important;
}
.ol-zoom {
	top: 65px !important;
	/*top: 170px !important;*/
	padding: 1px !important;
}
.ol-zoom-extent {
	top: 145px !important;
}
.ol-has-tooltip [role="tooltip"] {
	margin-left: -2px;
}
.ol-attribution {
	right: 60px !important;
	bottom: 10px !important;
	background-color: rgba(255, 255, 255, 0.6) !important;
	border-radius: 20px;
	position: fixed !important;
}
.ol-attribution.open {
	border-top-left-radius: 12px;
	border-bottom-left-radius: 12px;
}
.ol-attribution ul {
	border-radius: 3px;
	display: none;
	float: left;
	margin: 3px 0px !important;
	padding-left: 5px !important;
	font-size: 12px !important;
}
.ol-attribution a {
	color: #333 !important;
	text-decoration: underline !important;
}
.ol-attribution a.info {
	background-color: rgba(255, 255, 255, 0.8) !important;
	border-radius: 20px;
	padding: 2px 4px !important;
}
.ol-scale-line {
	background-color: rgba(0, 0, 0, 0.7) !important;
	margin-left: 10px;
	position: fixed;
}
.custom-mouse-position {
	color: #fff;
	font-size: 9px;
	position: fixed !important;
	left: 8px;
	text-align: left;
	top: 122px;
}
.ol-full-screen {

}
.ol-logo {
	display: none;
}

.marker {
	width: 1.5em;
	height: 1.5em;
	border-radius: 9px;
	background-color: #ff0000;
	border: #ccc 1px solid;
	opacity: 0.5;
}
.marker.primary {
	background-color: #ff0000;
}
.marker.secondary {
	background-color: #0ff;
}
.cluster.primary {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 1em;
  box-shadow: 0 0 6px 6px rgba(255, 0, 0, 0.5);
}
.cluster.secondary {
  background-color: rgba(0, 255, 255, 0.5);
  border-radius: 1em;
  box-shadow: 0 0 6px 6px rgba(0, 255, 255, 0.5);
}
.popover {
	z-index: auto;
}
.popover:not(.in) {
	z-index: -1;
}
.popover-content {
	min-width: 180px;
}
.popover h3 > a.close {
	line-height: 0.5em;
	margin-right: -5px;
}
.popover div.popup_btns {
	border-top: 1px solid #EEEEEE;
	padding-top: 10px;
}
.popover div.popup_btns a {
	margin: 0 5px;
}
.popover div.popup_btns a:first-child {
	margin: 0;
}
.popup_btns a:last-child {
	margin: 0;
}
#measure_btns span {
	display: block;
	font-size: 100px;
	margin-bottom: 30px;
}

label.checkbox {
	margin: 0;
}
#accordion .panel .btn-group, #accordion .panel .multiselect {
	width: 100%;
}
#accordion .list-group-item, .popover .list-group-item {
	padding: 0;
	border: 0px none;
}
#accordion .list-group-item-heading, {
	border-bottom: 1px solid #ddd;
	color: #999;
	padding: 0 0 10px;
}
.popover .nav > li > a {
	padding: 0;
	display: inline-block;
}
.popover .nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}
.popover {
	z-index: 300;
    display: block !important;
    max-width: 400px !important;
    width: 350px;
}
.popover .input-group {
	z-index: 0;
}
.popover-content ul.list-unstyled {
	margin: 0;
}
.popover div.checkbox-inline {
	margin-left: 2px;
}

.multiselect {
	text-align: left;
}
.multiselect b.caret {
	position: absolute;
	top: 14px;
	right: 8px;
}
.multiselect-group {
	font-weight: bold;
	text-decoration: underline;
}
.multiselect-container.dropdown-menu {
	width: 100%;
}
.multiselect-container > .input-group {
	padding: 5px;
}

.treeselect + .dropdown-menu > .dropdown-header {
	padding: 10px;
}
.treeselect + .dropdown-menu > .dropdown-content {
  margin: 0 10px 10px 10px;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}
.treeselect + .dropdown-menu > .dropdown-content ul:first-child {
	margin: 0;
	padding: 0;
}

#knob {
	/*
	border: 50px solid rgba(255, 255, 255, 0.5);
	*/
	text-align: center;
	left: 100px;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	position: fixed;
	top: 100px;
	margin-top: -200px;
	z-index: 99999999;
	display: none;
}
#knob * {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	list-style: none;
}
#knob ul {
	margin: 0;
}



.csstransforms .cn-wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 1;
	margin-top: -25em;
	margin-left: -25em;
	width: 50em;
	height: 50em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
	content:".";
	display:block;
	font-size:2em;
	width:6.2em;
	height:6.2em;
	position: absolute;
	left: 50%;
	margin-left: -3.1em;
	top:50%;
	margin-top: -3.1em;
	border-radius: 50%;
	z-index:10;
	color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	pointer-events: auto;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: 0;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li > span {
	position: absolute;
	position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
	right: -4.25em;
	bottom: -4.25em;
	display: block;
	width: 8.5em;
	height: 8.5em;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.5);
	background: -webkit-radial-gradient(transparent 35%, rgba(255, 255, 255, 0.5) 35%);
	background: -moz-radial-gradient(transparent 35%, rgba(255, 255, 255, 0.5) 35%);
	background: radial-gradient(transparent 35%, rgba(255, 255, 255, 0.5) 35%);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li > span span {
	position: relative;
	top: 0.75em;
	display: block;
	font-size: 0.9em;
	font-weight: 700;
	text-transform: uppercase;
	font-weight: normal !important;
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-20deg) skew(60deg);
	-moz-transform: rotate(-20deg) skew(60deg);
	-ms-transform: rotate(-20deg) skew(60deg);
	transform: rotate(-20deg) skew(60deg);
}
.csstransforms .opened-nav li:first-child small {
	-webkit-transform: rotate(95deg);
	-moz-transform: rotate(95deg);
	-ms-transform: rotate(95deg);
	transform: rotate(95deg);
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(12deg) skew(60deg);
	-moz-transform: rotate(12deg) skew(60deg);
	-ms-transform: rotate(12deg) skew(60deg);
	transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(44deg) skew(60deg);
	-moz-transform: rotate(44deg) skew(60deg);
	-ms-transform: rotate(44deg) skew(60deg);
	transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(108deg) skew(60deg);
	-moz-transform: rotate(108deg) skew(60deg);
	-ms-transform: rotate(108deg) skew(60deg);
	transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
	-webkit-transform: rotate(140deg) skew(60deg);
	-moz-transform: rotate(140deg) skew(60deg);
	-ms-transform: rotate(140deg) skew(60deg);
	transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(7) {
	-webkit-transform: rotate(172deg) skew(60deg);
	-moz-transform: rotate(172deg) skew(60deg);
	-ms-transform: rotate(172deg) skew(60deg);
	transform: rotate(172deg) skew(60deg);
}

.cn-wrapper li span {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
	overflow: hidden;
}

.cn-wrapper li a {
	padding: 15px 25px !important;
	color: #fff;
}
.cn-wrapper li a:hover {
	color: #2d2d2d !important;
	background-color: rgba(255, 255, 255, 0.8);
}
.cn-wrapper li a:active {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 30px 25px !important;
}
.cn-wrapper li > span:hover {

}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
	margin: 10px 0;
}

@media only screen and (max-width: 500px) {
	.cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width:420px) {
	.cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}
