html.map {
	background-color: #2d2d2d;
	background-image: radial-gradient(ellipse farthest-corner at left bottom , #2a2a2a, #2d2d2d);
	background-image: -moz-radial-gradient(left bottom, ellipse farthest-corner, #2a2a2a, #2d2d2d);
	background-image: -webkit-radial-gradient(left bottom, ellipse farthest-corner, #2a2a2a, #2d2d2d);
	background-image: -o-radial-gradient(left bottom, ellipse farthest-corner, #2a2a2a, #2d2d2d);
	background-repeat: repeat;
}
body {
	background-color: transparent;
}
body, * {
	font-family: 'Alegreya Sans SC', sans-serif !important;
}

body > div.container, header > div.container {
	padding: 0;
}
header {
	background-image: linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -moz-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: webkit-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -o-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
	background-image: -ms-linear-gradient(to top, #f9f9f9, #fff, #fff) !important;
}
header.map {
	background-color: rgba(255, 255, 255, 0.5);
	background-image: none !important;
	position: relative;
	z-index: 2;
}
header, footer {
	background: #fff;
}
#nav {
    margin: 0;
    padding: 0;
    top: 80px;
	display: table;
}
#nav li > a {
	font-size: 0.8em;
    padding: 5px 10px;
	color: #333;
}
#nav li > a:hover {
	color: #000;
}

#logo {
	padding-bottom: 10px;
}

#pgrdg_map {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
}
.olControlPanZoomBar {
	top: 120px !important;
}