[submodule "common/js/jquery-cookie"]
	path = common/js/jquery-cookie
	url = git@github.com:carhartl/jquery-cookie.git
[submodule "common/js/jQuery-Knob"]
	path = common/js/jQuery-Knob
	url = git@github.com:aterrien/jQuery-Knob.git
[submodule "common/js/OpenLayers/ol3js"]
	path = common/js/OpenLayers/ol3js
	url = git@github.com:openlayers/ol3.git
[submodule "common/js/OpenLayers/OpenLayers3_kenny"]
	path = common/js/OpenLayers/OpenLayers3_kenny
	url = git@github.com:Kenny806/ol3.git
[submodule "common/js/jquery.hotkeys"]
	path = common/js/jquery.hotkeys
	url = git@github.com:jeresig/jquery.hotkeys.git
[submodule "common/js/chosen"]
	path = common/js/chosen
	url = git@github.com:harvesthq/chosen.git
[submodule "common/js/bootstrap-multiselect"]
	path = common/js/bootstrap-multiselect
	url = git@github.com:davidstutz/bootstrap-multiselect.git
[submodule "common/js/jquery-storage"]
	path = common/js/jquery-storage
	url = git@github.com:julien-maurel/jQuery-Storage-API.git
[submodule "common/js/jquery-md5"]
	path = common/js/jquery-md5
	url = git@github.com:placemarker/jQuery-MD5.git
[submodule "API/Service"]
	path = API/Service
	url = git@github.com:milko/OntologyWrapper.git
[submodule "common/js/purl"]
	path = common/js/purl
	url = git@github.com:allmarkedup/purl.git
